.landing {
  width: 80%;
  height: 100%;
  margin: 40px auto;

  --form-padding: 20px;

  h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1em;
  }
}

.wrapper {
  display: grid;
  height: 70vh;
  grid-template: 
    "topmenu" 40px
    "intro"
    "form";
  justify-content: center;
  align-items: center;
  gap: 0px 40px;
}

.top-menu {
  grid-area: topmenu;
}

.intro {
  grid-area: intro;
  color: #fff;
}

.landing__form {
  width: 100%;
  background-color: #fff;
  grid-area: form;

  .form {
    position: relative;
    display: grid;
    grid-template-rows: repeat(auto-fill, auto);
    grid-row-gap:  var(--form-padding);
    padding: var(--form-padding);
  }

  .title {
    padding-bottom: var(--form-padding);
    margin-bottom: calc(var(--form-padding) / 2);

    &:after {
      content: "";
      display: block;
      margin-top: var(--form-padding);
      position: absolute;
      left: 0;
      width: 100%;
      border-bottom: 1px solid var(--border-color);
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template: 
      "topmenu topmenu" 40px
      "intro form" 1fr;
  }
}